--- 
---

<!-- based on https://codepen.io/marcobiedermann/pen/qJilF -->
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
        <title>Priyantha Lankapura</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/regular.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400">
        <link rel="stylesheet" href="/assets/css/home.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62343349-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-62343349-1');
      </script>
  </head>

  <body>

        {% if page.author and site.data.authors[page.author] %}
        {% assign author = site.data.authors[page.author] %}
      {% else %}
        {% assign author = site.author %}
      {% endif %}

        <div class="profile-card">

                <div itemscope itemtype="http://schema.org/Person">

                    <!-- {% if author.avatar %}
                      <div class="author__avatar">
                        {% if author.avatar contains "://" %}
                          {% assign author_src = author.avatar %}
                        {% else %}
                          {% assign author_src = author.avatar | absolute_url %}
                        {% endif %}
                  
                        {% if author.home %}
                          {% if author.home contains "://" %}
                            {% assign author_link = author.home %}
                          {% else %}
                            {% assign author_link = author.home | absolute_url %}
                          {% endif %}
                          <a href="{{ author_link }}">
                            <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
                          </a>
                        {% else %}
                          <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
                        {% endif %}
                      </div>
                    {% endif %} -->
                  
                    <div class="author__content">
                      {% if author.home %}
                        <a href="{{ author_link }}"><h3 class="author__name" itemprop="name">{{ author.name }}</h3></a>
                      {% else %}
                        <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
                      {% endif %}
                      {% if author.bio %}
                        <p class="author__bio" itemprop="description">
                          {{ author.bio }}
                        </p>
                      {% endif %}
                    </div>
                  
                    <div class="author__urls-wrapper">
                     <ul class="social author__urls social-icons">
                  
                        {% if author.blog %}
                          <li>
                            <a href="{{ author.blog }}" itemprop="sameAs">
                              <i class="fa fa-fw fa-blog" aria-hidden="true"></i> 
                            </a>
                          </li>
                        {% endif %}

                        {% if author.email %}
                          <li>
                            <a href="mailto:{{ author.email }}">
                              <meta itemprop="email" content="{{ author.email }}" />
                              <i class="fa fa-fw fa-envelope" aria-hidden="true"></i> 
                            </a>
                          </li>
                        {% endif %}
                  
                        {% if author.twitter %}
                          <li>
                            <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs">
                              <i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i>
                            </a>
                          </li>
                        {% endif %}
                  
                        {% if author.linkedin %}
                          <li>
                            <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs">
                              <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                          </li>
                        {% endif %}
                  
                        {% if author.github %}
                          <li>
                            <a href="https://github.com/{{ author.github }}" itemprop="sameAs">
                              <i class="fa fa-fw fa-github" aria-hidden="true"></i>
                            </a>
                          </li>
                        {% endif %}
                
                        {% if author.stackoverflow %}
                          <li>
                            <a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}" itemprop="sameAs">
                              <i class="fa fa-fw fa-stack-overflow" aria-hidden="true"></i>
                            </a>
                          </li>
                        {% endif %}
                  
                  
                      </ul>
                    </div>
                </div>
                  
                {% assign f_post = site.posts.first %} 
                {% if f_post %}
                <div class="blog__latest" itemprop="text">

                    <div class="blog__latest__header">
                      Latest Blog Post
                    </div>
                    <div class="blog__content">
                        {% if f_post.title %}
                        <a href="{{ root_url }}{{ f_post.url }}">{{ f_post.title | markdownify | strip_html | strip_newlines | escape_once }}</a>
                        {% endif %}
 
                        {% if f_post.description %}
                        <p>{{ f_post.description | markdownify | strip_html | strip_newlines | escape_once }}</p>
                        {% endif %} 

                        {% if f_post.date %}
                        <p>{{ f_post.date | date: " %B %d, %Y " }}</p>
                        {% endif %} 

                        {% if f_post.last_modified_at %}
                        <p>{{ f_post.last_modified_at | date: " %B %d, %Y " }}</p>
                        {% endif %} 
                    </div>
                  



                  <!-- <div class='slider'>
                    <div class='slide1'>
                        <a class="twitter-timeline"
                    data-width="400"
                    data-height="200"
                    data-chrome="noheader nofooter noborders noscrollbar transparent" 
                    data-tweet-limit="1"
                    href="https://twitter.com/PSLankapura?ref_src=twsrc%5Etfw"></a>
                    <script
                      async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                    <div class='slide2'>
                           
                        <div class="blog__latest__header">
                          Latest Blog Post
                        </div>
                        <div class="blog__content">
                            {% if f_post.title %}
                            <a href="{{ root_url }}{{ f_post.url }}">{{ f_post.title | markdownify | strip_html | strip_newlines | escape_once }}</a>
                            {% endif %}
     
                            {% if f_post.description %}
                            <p>{{ f_post.description | markdownify | strip_html | strip_newlines | escape_once }}</p>
                            {% endif %} 

                            {% if f_post.date %}
                            <p>{{ f_post.date | date: " %B %d, %Y " }}</p>
                            {% endif %} 

                            {% if f_post.last_modified_at %}
                            <p>{{ f_post.last_modified_at | date: " %B %d, %Y " }}</p>
                            {% endif %} 
                        </div>
                      
                    </div>

                    </div> -->
                  </div>
                  
                  </div>
                  
                  {% endif %}
            </div> <!-- end profile-card -->     
            

  </body>
</html>
