.page__footer{
  display: none;
}


.page__title {
  margin-top: 1em;
}

.page .page__inner-wrap .page__meta{
  margin-bottom: 2em;
}

@media (min-width: 80em)
{
  .page {
    width: calc(100% - 200px);
    padding-right: 200px;
  }
  
  html {
    font-size: 16px;
  }

  .page__related {
    width: calc(100% - 200px);
    padding-right: 200px;
    margin-top: unset;
    border-top: unset;
  }

}


// @media (min-width: 64em)
// html {
//     font-size: 20px;
// }
// @media (min-width: 48em)
// html {
//     font-size: 18px;
// }