.page__footer{
  display: none;
}


@media (min-width: 80em)
{
  .page {
    width: calc(100% - 200px);
    padding-right: 200px;
  }
  
  html {
    font-size: 16px;
  }
}


// @media (min-width: 64em)
// html {
//     font-size: 20px;
// }
// @media (min-width: 48em)
// html {
//     font-size: 18px;
// }