
/*---------- GENERAL ----------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	-webkit-background-size: cover;
	background-size: cover;
	font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

/*---------- UTILITIES ----------*/

.clear {
	*zoom: 1;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}

}

.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*---------- PROFILE_CARD ----------*/

.profile-card {
	background-color: #fff;
	bottom: 0;
	color: #111;
	height: 32em;
	left: 0;
	margin: auto;
	max-width: 32em;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;

	@media screen and (max-width: 500px) {
		zoom: 1.2;
	}

	.author__name, .author__bio{
		margin: 0 0 0.5em 0;
	}

	a {
		color: #111;
	}

	img {
		width: 8em;
		border: 2px solid #ddd;
		border-radius: 50%;
		background-clip: padding-box;
		margin: 1em;
	}

	h1 {
		color: #111;
		font-size: 2em;
		line-height: 1.2em;
		margin: 0;
		text-transform: uppercase;
	}

	h2 {
		font-size: 1.25em;
		line-height: 1.2em;
		margin: 0 0 4em 0;
	}

	.btn {
		border: 1px solid #ddd;
		display: block;
		margin: 0 auto 2em auto;
		padding: .5em 0;
		text-transform: uppercase;
		width: 90%;
	}

	.author__urls-wrapper{
		display: table;
		margin: 0 auto;
	}

	.social {
		@extend .clear;
		@extend .list-unstyled;
		font-size: 1.5em;
		text-align: center;

		li {
			float: left;
			margin: 4px 10px;
		}

		a {
			display: block;
		}

	}

	.blog__latest{
		margin-top: 2em;

		a {
			color: #3280ff;
			font-size: 1.4em;

			&:hover {
				color: #111;
			}
		}
	}
}

.slider {
  max-width: 300px;
  height: 200px;
  margin: 20px auto;
  position: relative;
}
.slide1,
.slide2 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background-size: cover;
  animation: fade 4s infinite;
  -webkit-animation: fade 4s infinite;
}
.slide2 {
  background-size: cover;
  animation: fade2 4s infinite;
  -webkit-animation: fade2 4s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
   100% {
    opacity: 0;
  }
}
